PORT=3000
MONGODB_URI=mongodb://<your-id>:<your-pass>@ac-tiujfjo-shard-00-00.a20frqo.mongodb.net:27017,ac-tiujfjo-shard-00-01.a20frqo.mongodb.net:27017,ac-tiujfjo-shard-00-02.a20frqo.mongodb.net:27017/?ssl=true&replicaSet=atlas-14d89w-shard-0&authSource=admin&appName=Cluster0